## Read data

<ul>
    <li>read csv</li>
    <li>read html</li>
    <li>read excel</li> 
</ul>

### read csv

In [1]:
import pandas as pd

In [2]:
path = "data.csv"

In [3]:
#read data from csv
df = pd.read_csv(path)

In [4]:
pd.set_option("display.max_rows",20)

In [5]:
df

,#,Player,GP,MIN,PTS,FGM,FGA,FG%,3PM,3PA,...,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,EFF
0,1,James Harden,61,36.7,34.4,9.9,22.7,43.5,4.4,12.6,...,11.8,86.1,1.0,5.3,6.4,7.4,1.7,0.9,4.5,31.8
1,2,Bradley Beal,57,36.0,30.5,10.4,22.9,45.5,3.0,8.4,...,8.0,84.2,0.9,3.3,4.2,6.1,1.2,0.4,3.4,25.4
2,3,Giannis Antetokounmpo,57,30.9,29.6,10.9,20.0,54.7,1.5,4.8,...,10.0,63.3,2.3,11.5,13.7,5.8,1.0,1.0,3.7,34.8
3,4,Trae Young,60,35.3,29.6,9.1,20.8,43.7,3.4,9.5,...,9.3,86.0,0.5,3.7,4.3,9.3,1.1,0.1,4.8,26.6
4,5,Damian Lillard,58,36.9,28.9,9.2,20.0,45.7,3.9,9.9,...,7.6,88.8,0.5,3.8,4.3,7.8,1.0,0.4,2.9,27.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45,46,Montrezl Harrell,63,27.8,18.6,7.5,12.9,58.0,0.0,0.3,...,5.6,65.8,2.6,4.5,7.1,1.7,0.6,1.1,1.7,20.1
46,47,Domantas Sabonis,62,34.8,18.5,7.4,13.7,54.0,0.3,1.1,...,4.8,72.3,3.0,9.4,12.4,5.0,0.8,0.5,2.7,26.8
47,48,Devonte' Graham,63,35.1,18.2,5.8,15.3,38.2,3.5,9.3,...,3.7,82.0,0.7,2.7,3.4,7.5,1.0,0.2,2.9,17.3
48,49,Derrick Rose,50,26.0,18.1,7.4,15.1,49.0,0.9,2.9,...,2.8,87.1,0.5,1.9,2.4,5.6,0.8,0.3,2.5,16.6
49,50,Terry Rozier,63,34.4,18.0,6.3,14.9,42.3,2.7,6.7,...,3.0,87.4,0.8,3.6,4.4,4.1,1.0,0.2,2.2,16.4

### ExcelFile

In [6]:
path = "data.xls"

In [7]:
workbook = pd.ExcelFile(path)

In [8]:
sheetname = workbook.sheet_names[0]

In [9]:
df = workbook.parse(sheetname,header = 0)

In [10]:
df

,Player,GP,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,...,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,EFF
0,James Harden,61,36.7,34.4,9.9,22.7,43.5,4.4,12.6,35.2,...,11.8,86.1,1.0,5.3,6.4,7.4,1.7,0.9,4.5,31.8
1,Bradley Beal,57,36.0,30.5,10.4,22.9,45.5,3.0,8.4,35.3,...,8.0,84.2,0.9,3.3,4.2,6.1,1.2,0.4,3.4,25.4
2,Giannis Antetokounmpo,57,30.9,29.6,10.9,20.0,54.7,1.5,4.8,30.6,...,10.0,63.3,2.3,11.5,13.7,5.8,1.0,1.0,3.7,34.8
3,Trae Young,60,35.3,29.6,9.1,20.8,43.7,3.4,9.5,36.1,...,9.3,86.0,0.5,3.7,4.3,9.3,1.1,0.1,4.8,26.6
4,Damian Lillard,58,36.9,28.9,9.2,20.0,45.7,3.9,9.9,39.4,...,7.6,88.8,0.5,3.8,4.3,7.8,1.0,0.4,2.9,27.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45,Montrezl Harrell,63,27.8,18.6,7.5,12.9,58.0,0.0,0.3,0.0,...,5.6,65.8,2.6,4.5,7.1,1.7,0.6,1.1,1.7,20.1
46,Domantas Sabonis,62,34.8,18.5,7.4,13.7,54.0,0.3,1.1,25.4,...,4.8,72.3,3.0,9.4,12.4,5.0,0.8,0.5,2.7,26.8
47,Devonte' Graham,63,35.1,18.2,5.8,15.3,38.2,3.5,9.3,37.3,...,3.7,82.0,0.7,2.7,3.4,7.5,1.0,0.2,2.9,17.3
48,Derrick Rose,50,26.0,18.1,7.4,15.1,49.0,0.9,2.9,30.6,...,2.8,87.1,0.5,1.9,2.4,5.6,0.8,0.3,2.5,16.6
49,Terry Rozier,63,34.4,18.0,6.3,14.9,42.3,2.7,6.7,40.7,...,3.0,87.4,0.8,3.6,4.4,4.1,1.0,0.2,2.2,16.4

### read_excel

pd.read_excel("data.xls"),預設讀取第一頁

讀取sheet index為０
pd.read_excel("data.xls",sheet_name = 0)

讀取sheet_name為"Sheet1"
df = pd.read_excel("data.xls",sheet_name = "Sheet1")

In [11]:
df = pd.read_excel("data.xls")

## Data Selection

### DataFrame

#### DataFrame.head(n)

取出前幾項(default n = 5)

In [12]:
df.head()

,Player,GP,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,...,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,EFF
0,James Harden,61,36.7,34.4,9.9,22.7,43.5,4.4,12.6,35.2,...,11.8,86.1,1.0,5.3,6.4,7.4,1.7,0.9,4.5,31.8
1,Bradley Beal,57,36.0,30.5,10.4,22.9,45.5,3.0,8.4,35.3,...,8.0,84.2,0.9,3.3,4.2,6.1,1.2,0.4,3.4,25.4
2,Giannis Antetokounmpo,57,30.9,29.6,10.9,20.0,54.7,1.5,4.8,30.6,...,10.0,63.3,2.3,11.5,13.7,5.8,1.0,1.0,3.7,34.8
3,Trae Young,60,35.3,29.6,9.1,20.8,43.7,3.4,9.5,36.1,...,9.3,86.0,0.5,3.7,4.3,9.3,1.1,0.1,4.8,26.6
4,Damian Lillard,58,36.9,28.9,9.2,20.0,45.7,3.9,9.9,39.4,...,7.6,88.8,0.5,3.8,4.3,7.8,1.0,0.4,2.9,27.8

In [13]:
#equal df[:3]
df.head(3)

,Player,GP,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,...,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,EFF
0,James Harden,61,36.7,34.4,9.9,22.7,43.5,4.4,12.6,35.2,...,11.8,86.1,1.0,5.3,6.4,7.4,1.7,0.9,4.5,31.8
1,Bradley Beal,57,36.0,30.5,10.4,22.9,45.5,3.0,8.4,35.3,...,8.0,84.2,0.9,3.3,4.2,6.1,1.2,0.4,3.4,25.4
2,Giannis Antetokounmpo,57,30.9,29.6,10.9,20.0,54.7,1.5,4.8,30.6,...,10.0,63.3,2.3,11.5,13.7,5.8,1.0,1.0,3.7,34.8

#### DataFrame.tail(n)

取出後n項(default n = 5)

In [14]:
df.tail()

,Player,GP,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,...,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,EFF
45,Montrezl Harrell,63,27.8,18.6,7.5,12.9,58.0,0.0,0.3,0.0,...,5.6,65.8,2.6,4.5,7.1,1.7,0.6,1.1,1.7,20.1
46,Domantas Sabonis,62,34.8,18.5,7.4,13.7,54.0,0.3,1.1,25.4,...,4.8,72.3,3.0,9.4,12.4,5.0,0.8,0.5,2.7,26.8
47,Devonte' Graham,63,35.1,18.2,5.8,15.3,38.2,3.5,9.3,37.3,...,3.7,82.0,0.7,2.7,3.4,7.5,1.0,0.2,2.9,17.3
48,Derrick Rose,50,26.0,18.1,7.4,15.1,49.0,0.9,2.9,30.6,...,2.8,87.1,0.5,1.9,2.4,5.6,0.8,0.3,2.5,16.6
49,Terry Rozier,63,34.4,18.0,6.3,14.9,42.3,2.7,6.7,40.7,...,3.0,87.4,0.8,3.6,4.4,4.1,1.0,0.2,2.2,16.4

#### DataFrame[:]

In [15]:
df[:5]

,Player,GP,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,...,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,EFF
0,James Harden,61,36.7,34.4,9.9,22.7,43.5,4.4,12.6,35.2,...,11.8,86.1,1.0,5.3,6.4,7.4,1.7,0.9,4.5,31.8
1,Bradley Beal,57,36.0,30.5,10.4,22.9,45.5,3.0,8.4,35.3,...,8.0,84.2,0.9,3.3,4.2,6.1,1.2,0.4,3.4,25.4
2,Giannis Antetokounmpo,57,30.9,29.6,10.9,20.0,54.7,1.5,4.8,30.6,...,10.0,63.3,2.3,11.5,13.7,5.8,1.0,1.0,3.7,34.8
3,Trae Young,60,35.3,29.6,9.1,20.8,43.7,3.4,9.5,36.1,...,9.3,86.0,0.5,3.7,4.3,9.3,1.1,0.1,4.8,26.6
4,Damian Lillard,58,36.9,28.9,9.2,20.0,45.7,3.9,9.9,39.4,...,7.6,88.8,0.5,3.8,4.3,7.8,1.0,0.4,2.9,27.8

指定欄位

In [16]:
df[['Player','GP','MIN','EFF','PTS']][0:10:2]

                  Player  GP   MIN   EFF   PTS
0           James Harden  61  36.7  31.8  34.4
2  Giannis Antetokounmpo  57  30.9  34.8  29.6
4         Damian Lillard  58  36.9  27.8  28.9
6      Russell Westbrook  53  35.9  26.7  27.5
8          Anthony Davis  55  34.3  30.5  26.7

### DataFrame.iloc

取得前五項

In [17]:
df.iloc[:5]

,Player,GP,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,...,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,EFF
0,James Harden,61,36.7,34.4,9.9,22.7,43.5,4.4,12.6,35.2,...,11.8,86.1,1.0,5.3,6.4,7.4,1.7,0.9,4.5,31.8
1,Bradley Beal,57,36.0,30.5,10.4,22.9,45.5,3.0,8.4,35.3,...,8.0,84.2,0.9,3.3,4.2,6.1,1.2,0.4,3.4,25.4
2,Giannis Antetokounmpo,57,30.9,29.6,10.9,20.0,54.7,1.5,4.8,30.6,...,10.0,63.3,2.3,11.5,13.7,5.8,1.0,1.0,3.7,34.8
3,Trae Young,60,35.3,29.6,9.1,20.8,43.7,3.4,9.5,36.1,...,9.3,86.0,0.5,3.7,4.3,9.3,1.1,0.1,4.8,26.6
4,Damian Lillard,58,36.9,28.9,9.2,20.0,45.7,3.9,9.9,39.4,...,7.6,88.8,0.5,3.8,4.3,7.8,1.0,0.4,2.9,27.8

取得特定row,注意是現有data第幾筆,並非取index

In [18]:
df.iloc[[0,3,4]]

,Player,GP,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,...,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,EFF
0,James Harden,61,36.7,34.4,9.9,22.7,43.5,4.4,12.6,35.2,...,11.8,86.1,1.0,5.3,6.4,7.4,1.7,0.9,4.5,31.8
3,Trae Young,60,35.3,29.6,9.1,20.8,43.7,3.4,9.5,36.1,...,9.3,86.0,0.5,3.7,4.3,9.3,1.1,0.1,4.8,26.6
4,Damian Lillard,58,36.9,28.9,9.2,20.0,45.7,3.9,9.9,39.4,...,7.6,88.8,0.5,3.8,4.3,7.8,1.0,0.4,2.9,27.8

取出一筆資料

In [19]:
df.iloc[0]

Player    James Harden
GP                  61
MIN               36.7
PTS               34.4
FGM                9.9
              ...
AST                7.4
STL                1.7
BLK                0.9
TOV                4.5
EFF               31.8
Name: 0, Length: 21, dtype: object

取出前五筆和欄位前五筆

In [20]:
df.iloc[0:5,0:5]

                  Player  GP   MIN   PTS   FGM
0           James Harden  61  36.7  34.4   9.9
1           Bradley Beal  57  36.0  30.5  10.4
2  Giannis Antetokounmpo  57  30.9  29.6  10.9
3             Trae Young  60  35.3  29.6   9.1
4         Damian Lillard  58  36.9  28.9   9.2

取出特定欄位筆數和特定列

In [21]:
df.iloc[[1,2],[0,1,2,4]]

                  Player  GP   MIN   FGM
1           Bradley Beal  57  36.0  10.4
2  Giannis Antetokounmpo  57  30.9  10.9

上述可以搭配使用

In [22]:
df.iloc[0:5,[0,1,2,4]]

                  Player  GP   MIN   FGM
0           James Harden  61  36.7   9.9
1           Bradley Beal  57  36.0  10.4
2  Giannis Antetokounmpo  57  30.9  10.9
3             Trae Young  60  35.3   9.1
4         Damian Lillard  58  36.9   9.2

In [23]:
df.iloc[[1,2],0:5]

                  Player  GP   MIN   PTS   FGM
1           Bradley Beal  57  36.0  30.5  10.4
2  Giannis Antetokounmpo  57  30.9  29.6  10.9

### DataFrame.loc

取得index　= 0　到　index = 4 資料

In [24]:
df.loc[0:4]

,Player,GP,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,...,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,EFF
0,James Harden,61,36.7,34.4,9.9,22.7,43.5,4.4,12.6,35.2,...,11.8,86.1,1.0,5.3,6.4,7.4,1.7,0.9,4.5,31.8
1,Bradley Beal,57,36.0,30.5,10.4,22.9,45.5,3.0,8.4,35.3,...,8.0,84.2,0.9,3.3,4.2,6.1,1.2,0.4,3.4,25.4
2,Giannis Antetokounmpo,57,30.9,29.6,10.9,20.0,54.7,1.5,4.8,30.6,...,10.0,63.3,2.3,11.5,13.7,5.8,1.0,1.0,3.7,34.8
3,Trae Young,60,35.3,29.6,9.1,20.8,43.7,3.4,9.5,36.1,...,9.3,86.0,0.5,3.7,4.3,9.3,1.1,0.1,4.8,26.6
4,Damian Lillard,58,36.9,28.9,9.2,20.0,45.7,3.9,9.9,39.4,...,7.6,88.8,0.5,3.8,4.3,7.8,1.0,0.4,2.9,27.8

取得特定index

In [25]:
df.loc[[0,3,4]]

,Player,GP,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,...,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,EFF
0,James Harden,61,36.7,34.4,9.9,22.7,43.5,4.4,12.6,35.2,...,11.8,86.1,1.0,5.3,6.4,7.4,1.7,0.9,4.5,31.8
3,Trae Young,60,35.3,29.6,9.1,20.8,43.7,3.4,9.5,36.1,...,9.3,86.0,0.5,3.7,4.3,9.3,1.1,0.1,4.8,26.6
4,Damian Lillard,58,36.9,28.9,9.2,20.0,45.7,3.9,9.9,39.4,...,7.6,88.8,0.5,3.8,4.3,7.8,1.0,0.4,2.9,27.8

取出index 為2的資料

In [26]:
df.loc[2]

Player    Giannis Antetokounmpo
GP                           57
MIN                        30.9
PTS                        29.6
FGM                        10.9
                  ...
AST                         5.8
STL                           1
BLK                           1
TOV                         3.7
EFF                        34.8
Name: 2, Length: 21, dtype: object

取出特定row index 和欄位

In [27]:
df.loc[[1,3,5],['Player','GP','MIN','EFF','PTS']]

         Player  GP   MIN   EFF   PTS
1  Bradley Beal  57  36.0  25.4  30.5
3    Trae Young  60  35.3  26.6  29.6
5   Luka Doncic  54  33.3  30.4  28.7

In [28]:
df.loc[:2,['Player','GP','MIN','EFF','PTS']]

                  Player  GP   MIN   EFF   PTS
0           James Harden  61  36.7  31.8  34.4
1           Bradley Beal  57  36.0  25.4  30.5
2  Giannis Antetokounmpo  57  30.9  34.8  29.6

### DataFrame.loc vs DataFrame.iloc

iloc列是以當前第幾筆資料取,欄位也是

loc列是以本來的index資料取,欄位是以名稱

### 取出資料

下面可以發現iloc類似切片,loc是取出index = 0 ~ 3前面的資料

In [29]:
df.iloc[:3]

,Player,GP,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,...,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,EFF
0,James Harden,61,36.7,34.4,9.9,22.7,43.5,4.4,12.6,35.2,...,11.8,86.1,1.0,5.3,6.4,7.4,1.7,0.9,4.5,31.8
1,Bradley Beal,57,36.0,30.5,10.4,22.9,45.5,3.0,8.4,35.3,...,8.0,84.2,0.9,3.3,4.2,6.1,1.2,0.4,3.4,25.4
2,Giannis Antetokounmpo,57,30.9,29.6,10.9,20.0,54.7,1.5,4.8,30.6,...,10.0,63.3,2.3,11.5,13.7,5.8,1.0,1.0,3.7,34.8

In [30]:
df.loc[:3]

,Player,GP,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,...,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,EFF
0,James Harden,61,36.7,34.4,9.9,22.7,43.5,4.4,12.6,35.2,...,11.8,86.1,1.0,5.3,6.4,7.4,1.7,0.9,4.5,31.8
1,Bradley Beal,57,36.0,30.5,10.4,22.9,45.5,3.0,8.4,35.3,...,8.0,84.2,0.9,3.3,4.2,6.1,1.2,0.4,3.4,25.4
2,Giannis Antetokounmpo,57,30.9,29.6,10.9,20.0,54.7,1.5,4.8,30.6,...,10.0,63.3,2.3,11.5,13.7,5.8,1.0,1.0,3.7,34.8
3,Trae Young,60,35.3,29.6,9.1,20.8,43.7,3.4,9.5,36.1,...,9.3,86.0,0.5,3.7,4.3,9.3,1.1,0.1,4.8,26.6

將排序可以發現明顯的差異

In [31]:
df_sort = df.sort_values(by='EFF',ascending=False)

In [32]:
df_sort

,Player,GP,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,...,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,EFF
2,Giannis Antetokounmpo,57,30.9,29.6,10.9,20.0,54.7,1.5,4.8,30.6,...,10.0,63.3,2.3,11.5,13.7,5.8,1.0,1.0,3.7,34.8
0,James Harden,61,36.7,34.4,9.9,22.7,43.5,4.4,12.6,35.2,...,11.8,86.1,1.0,5.3,6.4,7.4,1.7,0.9,4.5,31.8
8,Anthony Davis,55,34.3,26.7,9.2,18.1,51.1,1.2,3.5,33.5,...,8.3,84.5,2.3,7.1,9.4,3.1,1.5,2.4,2.5,30.5
5,Luka Doncic,54,33.3,28.7,9.5,20.6,46.1,2.9,9.1,31.8,...,9.1,75.2,1.3,8.0,9.3,8.7,1.1,0.2,4.2,30.4
10,LeBron James,60,34.9,25.7,9.8,19.6,49.8,2.2,6.4,34.9,...,5.7,69.7,1.0,6.9,7.9,10.6,1.2,0.5,4.0,30.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49,Terry Rozier,63,34.4,18.0,6.3,14.9,42.3,2.7,6.7,40.7,...,3.0,87.4,0.8,3.6,4.4,4.1,1.0,0.2,2.2,16.4
22,Collin Sexton,65,33.0,20.8,7.9,16.7,47.2,1.5,3.9,38.0,...,4.1,84.6,0.9,2.2,3.1,3.0,1.0,0.1,2.4,16.1
44,Lou Williams,60,29.3,18.7,6.1,14.7,41.6,1.8,4.9,36.3,...,5.4,86.3,0.5,2.6,3.1,5.7,0.7,0.2,2.9,16.1
27,Bojan Bogdanovic,63,33.1,20.2,6.6,14.8,44.7,3.0,7.3,41.4,...,4.4,90.3,0.6,3.5,4.1,2.1,0.5,0.1,2.5,15.9
40,Evan Fournier,61,31.7,18.8,6.7,14.2,47.0,2.7,6.7,40.6,...,3.4,82.0,0.3,2.3,2.6,3.2,1.1,0.2,2.0,15.8

iloc 取出了排序完的前3筆

In [33]:
df_sort.iloc[:3]

,Player,GP,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,...,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,EFF
2,Giannis Antetokounmpo,57,30.9,29.6,10.9,20.0,54.7,1.5,4.8,30.6,...,10.0,63.3,2.3,11.5,13.7,5.8,1.0,1.0,3.7,34.8
0,James Harden,61,36.7,34.4,9.9,22.7,43.5,4.4,12.6,35.2,...,11.8,86.1,1.0,5.3,6.4,7.4,1.7,0.9,4.5,31.8
8,Anthony Davis,55,34.3,26.7,9.2,18.1,51.1,1.2,3.5,33.5,...,8.3,84.5,2.3,7.1,9.4,3.1,1.5,2.4,2.5,30.5

loc取出了index 0 到　index 3的區間

In [34]:
df_sort.loc[0:3]

,Player,GP,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,...,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,EFF
0,James Harden,61,36.7,34.4,9.9,22.7,43.5,4.4,12.6,35.2,...,11.8,86.1,1.0,5.3,6.4,7.4,1.7,0.9,4.5,31.8
8,Anthony Davis,55,34.3,26.7,9.2,18.1,51.1,1.2,3.5,33.5,...,8.3,84.5,2.3,7.1,9.4,3.1,1.5,2.4,2.5,30.5
5,Luka Doncic,54,33.3,28.7,9.5,20.6,46.1,2.9,9.1,31.8,...,9.1,75.2,1.3,8.0,9.3,8.7,1.1,0.2,4.2,30.4
10,LeBron James,60,34.9,25.7,9.8,19.6,49.8,2.2,6.4,34.9,...,5.7,69.7,1.0,6.9,7.9,10.6,1.2,0.5,4.0,30.4
28,Nikola Jokic,65,32.3,20.2,7.9,14.9,52.8,1.1,3.5,31.4,...,4.1,81.3,2.4,7.8,10.2,6.9,1.2,0.7,3.1,28.2
4,Damian Lillard,58,36.9,28.9,9.2,20.0,45.7,3.9,9.9,39.4,...,7.6,88.8,0.5,3.8,4.3,7.8,1.0,0.4,2.9,27.8
7,Kawhi Leonard,51,32.2,26.9,9.3,19.9,46.9,2.1,5.7,36.6,...,6.9,88.9,1.0,6.3,7.3,5.0,1.8,0.6,2.7,27.5
46,Domantas Sabonis,62,34.8,18.5,7.4,13.7,54.0,0.3,1.1,25.4,...,4.8,72.3,3.0,9.4,12.4,5.0,0.8,0.5,2.7,26.8
6,Russell Westbrook,53,35.9,27.5,10.7,22.6,47.4,1.0,3.8,25.4,...,6.5,77.7,1.8,6.3,8.0,7.0,1.7,0.3,4.5,26.7
3,Trae Young,60,35.3,29.6,9.1,20.8,43.7,3.4,9.5,36.1,...,9.3,86.0,0.5,3.7,4.3,9.3,1.1,0.1,4.8,26.6

如果順序先返loc取不到値

In [35]:
df_sort.loc[7:4]

Empty DataFrame
Columns: [Player, GP, MIN, PTS, FGM, FGA, FG%, 3PM, 3PA, 3P%, FTM, FTA, FT%, OREB, DREB, REB, AST, STL, BLK, TOV, EFF]
Index: []

[0 rows x 21 columns]